{% extends 'base.html' %}
    {% block title %}
    {% if user %}
        Welcome, {{ user }}.
    {% else %}
        Welcome, <i>AnonymousUser</i>.
    {% endif %}
    {% endblock title %}
{% block content %}
    <h4>
        {% if user %}
        Welcome, {{ user }}
        {% else %}
        Welcome, <i>AnonymousUser</i>.
        <h6>You must log in or register to get the full features.</h6>
        {% endif %}
    </h4>
    <h3>Go to <a href= "{% url 'blog:index' %}">Blog site</a>
{% endblock content %}


