db.sqlite3
# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/__pycache__/*
*.py[cod]
*$py.class
django3_env
django4-env
.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid

*.log
local_settings.py

# Only for Development only
**/migrations/**
# !**/migrations
# !**/migrations/__init__.py

