{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}


<div class="container-fluid">
    <h3>{{post.title}}</h3>
    <p> Published {{ post.publish.date }} by <i>{{ post.author }}</i></p>
    {% if request.user.id == post.author.id %}
    <a href="#">Edit</a>
    <a href="#">Delete</a>
    {% endif %}
    <p>{{post.body | linebreaks}}</p>

    {% comment %} post_id={{ post.id }} {% endcomment %}
    <p><a href="{% url 'blog:post_share'  post.id %}">Share this post</a></p>

    {% with comments.count as total_comments %}
    {% if total_comments == 0 %}
    <h4>No comment yet. Be the first to make a comment</h4>
    {% else %}
    <h4>{{ total_comments }} comment{{ total_comments|pluralize}}</h4>
    {% endif %}
    {% endwith %}

    {% if new_comment %}
    <h4>Your comment added successfully.</h4>
    <h5>Make another comment</h5>
    {% else %}
    <h5>Make a comment</h5>
    {% endif %}
    <form class="form-group" method='POST'>
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-secondary" value="Add comment"></p>
    </form>

    <div class='comments'>
        <ul class="list-group">
            {% for comment in comments %}
            <li class="list-group-item">
                <i style="color: blue;">
                {% if comment.user %} <span><a href="{% url 'blog:user_profile' comment.user.id %}">{{ comment.user.username }}</a></span>
                {% else %} <span style="color: chocolate;">Unknown user</span>
                {% endif %}
                </i>
                <b>{{ comment.body|linebreaks }}</b>
                <span>{{ comment.created }}</span>

                {% if request.user.id == comment.user.id %}
                <br>
                <a href="#">Edit</a>
                <a href="#">Delete</a>
                {% endif %}
            </li>
            {% empty %}
            <p>There is no comment yet.</p>
            {% endfor %}
        </ul>
    </div>

    {% endblock %}