{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}

    
<div class="container-fluid">
    <h3 class="text-info" style="padding-top: 20px;">{{post.title}}</h3>
    <p>Author: <i>{{ post.author }}</i></p>
    <p style="margin-top: 0%;">{{ post.publish.date }}</p>
    <p style="font-size: 24px;">
        {{post.body | linebreaks}}
    </p>

    {% comment %} post_id={{ post.id }} {% endcomment %}
    <p>
    <a href = "{% url 'blog:post_share'  post.id %}">Share this post</a>
    </p>

    {% with comments.count as total_comments %}
    <h4>
    {{ total_comments }} comment{{ total_comments|pluralize }}
    </h4>
    {% endwith %}

    {% if  new_comment %}
    <h2>Your comment added successfully.</h1>
    {% else %}
    <h5>Add a comment</h5>
    <form action="" class="form-group" method ='POST'>
    {% csrf_token %}
    {{ comment_form.as_p }}
    <p><input type="submit" class="btn btn-secondary" value="Add comment"></p>
    </form> 
    {% endif %}

    <div class='comments'>
        <ul class="list-group">
            {% for comment in comments %}
            <li class="list-group-item">{{ comment.body|linebreaks }}</li>
            <span>{{ comment.created }}</span>
             {% empty %}
            <p>There are no comment yet.</p>
        </ul>
    
    {% endfor %}


</div>

{% endblock %}