{% extends "base.html" %}
{% block title %}Discover,Learn, Change{% endblock %}
{% block content %}
{% if tag %}
<h4>Posts tagged with <i>{{ tag.name }}</i></h4>
{% endif %}

<div class="card-group">
{% for post in posts %}

<div class="card container-fluid" style="width: 24rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h4 class="card-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h4>
        <p class="card-subtitle">
            Published {{ post.publish.date }} by <i>{{ post.author }}</i>
        </p>

        <div class="card-text justify-content-center">
            {{ post.body|truncatewords:30|linebreaks }}
        </div>

        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more..</a>
    
        <p class="tex-info">Tags:
            {% for tag in post.tags.all %}
            <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
            {% empty %} <i>None</i>
            {% endfor %}
        </p>
    </div>

</div>

{% endfor %}
</div>
<div style="text-align: center;">{% include "pagination.html" with page=posts %}
</div>
{% endblock %}