{% extends 'base.html' %}
{% block title %}Share the Article{% endblock %}
{% block content %}
    {% if sent %}
        <h3>E-mail successfully sent</h3>
        <p><i>{{post.title}}</i> was successfully sent to <i>{{form.cleaned_data.to}}</i>.</p>
    {% else %}
        <h1>Share <b>{{post.title}}</b> by e-mail</h1>
        <form method="post">
        {% if form.errors %}
        <p style="color: #a93939">{{form.errors_}}</p>
        {% endif %}
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary"value="Send E-mail">
        </form>
    {% endif %}
{% endblock %}